/* .container {
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .movie-list {display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
} */